.space
.contact.flex
    .textbox
        h1.title.text--lg Let's Build Something Together 
        p.tagline Feel free to reach out if you're looking for a developer, have a question, or just want to connect.
        a(href="mailto:hello@timtheme.dev").link hello@timtheme.dev 
    .form-container
        form(action="", method="post").form 
            input(type="text", name="name", placeholder="Full name").input-field#name-field
            input(type="text", name="email", placeholder="email@example.com").input-field#email-field
            textarea(name="message", cols="30", rows="10", placeholder="Message")#msg-field.msg-field
            span.recapcht 
            input(type="button", value="Send").send-btn 
.space