footer.main-foot.flex 
    span.copyright Copyright (c) 2022 - Timothy T. Joe
    span.social-links.flex 
        a(href="#", tab-index="12" title="LinkedIn" )
            img(src="/images/icons/linkedin.svg") 
        a(href="#", tab-index="13" title="")
            img(src="/images/icons/twitter.svg") 
        a(href="#", tab-index="14" title="")
            img(src="/images/icons/github.svg") 
        a(href="#how", tab-index="15" title="") How I Developed My Portfolio