nav.navigation 
    .container--sm.nav-items.flex
        span(title="Mainpage").logo
            span.icon-wrap
                img(src="/images/icons/home.svg").logo-icon
            a(href="/", tab-index="1").logo-text.text--lg Timothy T. Joe
        span.nav-list
            a(href="about-me", tab-index="2", title="About Me").nav-item About Me
            a(href="resume",   tab-index="3", title="Resume").nav-item  Resume
            a(href="projects", tab-index="4", title="Projects").nav-item Projects
            a(href="contact",  tab-index="5", title="Contact Me").nav-item Contact Me