nav.navigation 
    .container--sm.nav-items.flex
        span(title="Mainpage").logo
            span.icon-wrap
                img(src="/images/icons/home.svg").logo-icon
            a(href="/", tab-index="1").logo-text.text--lg Timothy T. Joe
        span.nav-list
            a(href="about", tab-index="2", title="About Me").nav-item About Me
            a(href="blog", tab-index="2", title="Blog").nav-item Blog
            button.btn.btn-primary(type='submit') Get Resume