hr.separator
.projects
.container--sm
    h1.title.text--lg Projects
    p.sec-tagline Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum et neque velit, sequi voluptatum veniam ratione voluptate assumenda ipsa vero magnam eos aspernatur sit eaque repellat qui debitis ad? Placeat? Lorem ipsum dolor sit    amet consectetur adipisicing elit. Debitis in molestiae iusto
    .project-item.grid 
        .grid-item.full-bleed.card 
                img(src="/images/placeholder.png", alt="Placeholder Image").cover
                section.overlay 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam quidem vero, officiis architecto ab qui. Quas possimus ipsam rem debitis. Blanditiis repudiandae molestiae pariatur dolorum voluptatem harum saepe numquam nihil?
                    span.card-foot.flex
                        span.track--double
                            a(href="#").flex Read about Goal, tech stack, lesson
                                img(src="/images/icons/right_arrow.svg").icon
                        span.track--single 
                            a(href="#").flex Live Demo 
                                img(src="/images/icons/external.svg").icon   
        .grid-item.left.card
            img(src="/images/placeholder.png", alt="Placeholder Image").cover
            section.overlay 
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam quidem vero, officiis architecto ab qui. Quas possimus ipsam rem debitis. Blanditiis repudiandae molestiae pariatur dolorum voluptatem harum saepe numquam nihil?
                span.card-foot.flex
                    span.track--double
                        a(href="#").flex Goal, tech stack, lesson
                            img(src="/images/icons/right_arrow.svg").icon
                    span 
                        a(href="#").flex Live Demo 
                            img(src="/images/icons/external.svg").icon
        .grid-item.right.card
            img(src="/images/placeholder.png", alt="Placeholder Image").cover
            section.overlay 
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam quidem vero, officiis architecto ab qui. Quas possimus ipsam rem debitis. Blanditiis repudiandae molestiae pariatur dolorum voluptatem harum saepe numquam nihil?
                span.card-foot.flex
                    span.track--double
                        a(href="#").flex Goal, tech stack, lesson
                            img(src="/images/icons/right_arrow.svg").icon
                    span 
                        a(href="#").flex Live Demo 
                            img(src="/images/icons/external.svg").icon

        .grid-item.full-bleed.card
            .slider 
                .slide-items
                    .item.card
                        img(src="/images/placeholder.png", alt="Placeholder Image").cover
                        section.overlay 
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam quidem vero, officiis architecto ab qui. Quas possimus ipsam rem debitis. Blanditiis repudiandae molestiae pariatur dolorum voluptatem harum saepe numquam nihil?
                            span.card-foot.flex
                                span.track--double
                                    a(href="#").flex Read about Goal, tech stack, lesson
                                        img(src="/images/icons/right_arrow.svg").icon
                                span.track--single 
                                    a(href="#").flex Live Demo 
                                        img(src="/images/icons/external.svg").icon
                    .item.card
                        img(src="/images/placeholder.png", alt="Placeholder Image").cover
                        section.overlay 
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam quidem vero, officiis architecto ab qui. Quas possimus ipsam rem debitis. Blanditiis repudiandae molestiae pariatur dolorum voluptatem harum saepe numquam nihil?
                            span.card-foot.flex
                                span.track--double
                                    a(href="#").flex Read about Goal, tech stack, lesson
                                        img(src="/images/icons/right_arrow.svg").icon
                                span.track--single 
                                    a(href="#").flex Live Demo 
                                        img(src="/images/icons/external.svg").icon
                span.btn-wrap#prev
                    button(onclick="prev()").slide-btn
                        img(src="/images/icons/left_caret.svg").btn-icon  
                span.btn-wrap#next
                    button(onclick="next()").slide-btn
                        img(src="/images/icons/right_caret.svg").btn-icon  


