.skills 
    .container--sm
        span.space
        h1.text--lg Skills 
        p.sec-tagline Some Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia dignissimos nihil, laudantium aliquid provident, dolore quam sit voluptatum sed tempore assumenda neque reprehenderit aliquam eius magni repellat. Quisquam, reiciendis magnam.
        .media-block 
            .media-items
                span(data-title="NoSQL Database").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text MongoDB
                span(data-title="Static Site Generator").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Gatsby
                span(data-title="Web Styling Language").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text CSS3
                span(data-title="Programming Language").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text PHP7
            .media-items
                span(data-title="Framework for Node.js").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Express.js 
                span(data-title="API for Data Query").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text GraphQL
                span(data-title="Markup Language").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text HTML5
                span(data-title="Framework for PHP").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Laravel
            .media-items
                span(data-title="JS Library for UI").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text React.js
                span(data-title="Hybrid Mobile App").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text React Native
                span(data-title="Library for CSS").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Bootstrap 3
                span(data-title="Package Manager for PHP").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Composer
            .media-items
                span(data-title="JRE for Backend JS").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Node.js
                span(data-title="Programming Language").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text CShape (C#)
                span(data-title="Template Engine").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Pug
                span(data-title="SQL Database").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Microsoft SQL
            .media-items
                span(data-title="Hybrid Desktop App").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Electron.js
                span(data-title="Freamwork for C#").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text .NET Core 2.0
                span(data-title="Template Engine").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Handlebar
                span(data-title="Source/Version Control").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Git &amp; GitHub
.space
    