.skills 
    .container--sm
        span.space
        h1.text--lg Skills 
        p.sec-tagline Some Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia dignissimos nihil, laudantium aliquid provident, dolore quam sit voluptatum sed tempore assumenda neque reprehenderit aliquam eius magni repellat. Quisquam, reiciendis magnam.
        .media-block 
            .media-items
                span.media-header MERN Stack   
                span(data-title="NoSQL Database").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text MongoDB
                span(data-title="Framework for Node.js").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Express.js 
                span(data-title="JS Library for UI").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text React.js
                span(data-title="JRE for Backend JS").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Node.js
                
            .media-items
                span.media-header LAMP Stack   

                span(data-title="Operating System").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Linux
                span(data-title="Linux Web Server").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Apache Server
                span(data-title="Structure Query Langaute").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text MySQL
                span(data-title="Scripting Language + PHP Framework").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text PHP + Laravel
            
            .media-items
                span.media-header JAM Stack 
                span(data-title="Programming Language").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text JavaScript
                span(data-title="API query + RESTfull API ").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Gatsby + APIs
                span(data-title="Markup").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text HTML5 + XML
                span(data-title="Database Query Manager").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text ORM + SQL
            .media-items
                span.media-header Hybrid Software 
                span(data-title="Hybrid Desktop App").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Electron.js
                span(data-title="Freamwork for C#").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text .NET Core 2.0
                span(data-title="Hybrid Mobile App").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text React Native
                span(data-title="Source/Version Control").media-item.media--sm 
                    img(src="/images/icons/github.svg", alt="").media-img
                    small.media-text Git &amp; GitHub
            .media-items
                span.media-header Programming Language
                span(data-title="Superset of JavaScript").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text TypeScript
                span(data-title="Programming Language").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Python 
                span(data-title="Dynamic Language").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text Java
                span(data-title="Language for Window Platform").media-item.media--sm 
                    img(src="/images/icons/at.svg", alt="").media-img
                    small.media-text C#
        a(href="https://www.github.com/amrealjoe") See more techs I've worked with
.space
    