.backdrop
    button.icon-button.backdropCloseBTN &#x2715;
    .modal 
        header.header Download Resume 
        .btn-group
            button.btn.btn--lg PDF
            button.btn.btn--lg Google Docs
            button.btn.btn--lg Microsoft Word