footer.footer 
    div.content 
        header.header 
            span.name
                h3 Timothy T. Joe 
                small Full Stack Engineer. Liberia, West Africa
            span.social
                a(href="/") 
                    img(src="/icons/linkedin.svg", alt="")
                a(href="/") 
                    img(src="/icons/twitter.svg", alt="")
                a(href="/") 
                    img(src="/icons/facebook.svg", alt="")
                a(href="/") 
                    img(src="/icons/github.svg", alt="")
        span.flexbox 
            a(href="#").link Term of Use 
            a(href="#").link Privacy Policy 
            a(href="#").link Disclaimer 
            a(href="#").link Cookie Policy 
        span.flexbox 
            span.updated 
                img(src="/icons/spinner.svg", alt="").icon 
                p.text Last updated 2:30 PM
