footer.footer 
    div.content 
        header.header 
            span.name
                h3 Timothy T. Joe 
                small Full Stack Engineer. Liberia, West Africa
            span.social
                a(href="/") 
                    img(src="/icons/linkedin.svg", alt="")
                a(href="/") 
                    img(src="/icons/twitter.svg", alt="")
                a(href="/") 
                    img(src="/icons/facebook.svg", alt="")
                a(href="/") 
                    img(src="/icons/github.svg", alt="")
        span.flexbox 
            a(href="#").link Term of Use 
            a(href="#").link Privacy Policy 
            a(href="#").link Disclaimer 
            a(href="#").link Cookie Policy 
        div.flexbox 
            span.updated 
                img(src="/icons/spinner.svg", alt="").icon 
                p.text Last updated 2:30 PM
            span.powered.flexbox
                p Powered by: 
                img(src="/icons/nodejs.svg", alt="").icon 
                img(src="/icons/express.svg", alt="").icon 
                img(src="/icons/vercel.svg", alt="").icon 
                img(src="/icons/vite.svg", alt="").icon 
                img(src="/icons/pug.svg", alt="").icon 
                img(src="/icons/css3.svg", alt="").icon 
                img(src="/icons/html5.svg", alt="").icon 
                img(src="/icons/javascript.svg", alt="").icon 
                img(src="/icons/davicon.svg", alt="").icon 

                
