footer.footer 
    div.content 
        header.header 
            span.name
                h3 Timothy T. Joe 
                small Full Stack Engineer. Liberia, West Africa
            span.social
                a(href="/") 
                    img(src="/icons/linkedin.svg", alt="")
                a(href="/") 
                    img(src="/icons/twitter.svg", alt="")
                a(href="/") 
                    img(src="/icons/facebook.svg", alt="")
                a(href="/") 
                    img(src="/icons/github.svg", alt="")
        span.flexbox 
            a(href="#").link Term of Use 
            a(href="#").link Privacy Policy 
            a(href="#").link Disclaimer 
            a(href="#").link Cookie Policy 
        div.flexbox 
            span.updated 
                img(src="/icons/spinner.svg", alt="").icon 
                p.text Last updated 2:30 PM
            span.powered.flexbox
                p Powered by: 
                img(src="/icons/nodejs.svg", alt="", title="NodeJS").icon 
                img(src="/icons/express.svg", alt="", title="ExpressJS").icon 
                img(src="/icons/css3.svg", alt="", title="CSS3").icon 
                img(src="/icons/html5.svg", alt="", title="HTML5").icon 
                img(src="/icons/javascript.svg", alt="", title="ES6+").icon 
                img(src="/icons/jquery.svg", alt="", title="jQuery").icon 
                img(src="/icons/markdown.svg", alt="", title="Markdown").icon 
                img(src="/icons/devicon.svg", alt="", title="Devicon").icon 
                img(src="/icons/vercel.svg", alt="", title="Vercel").icon 
                img(src="/icons/vite.svg", alt="", title="ViteJS").icon 
                img(src="/icons/pug.svg", alt="", title="Pug").icon 

                
