footer.footer 
    div.content 
        header.header Timothy T. Joe 
        span.flexbox 
            a(href="/").link Blog 
            a(href="/").link Profile 
            a(href="/").link LinkedIn 
            a(href="/").link Github 
        span.flexbox 
            a(href="/").link Term of Use 
            a(href="/").link Privacy Policy 
            a(href="/").link Disclaimer 
            a(href="/").link Cookie Policy 
        span.flexbox 
            span.updated 
                img(src="/", alt="").icon 
                p.text Last updated 2:30 PM
