.introduction 
    figure.figure 
        img(src="/images/joe.jpg", alt="alt").image
    div.textbox 
        p <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit<a href="/"> ...Learn more</a>
        section.btn-group 
            a(href="/").link-btn 
                img(src="/icons/twitter.png", alt="") 
                span Twitter
            a(href="/").link-btn 
                img(src="/icons/linkedIn.png", alt="") 
                span LinkedIn
            a(href="/").link-btn 
                img(src="/icons/github.png", alt="") 
                span GitHub
            a(href="/").link-btn 
                img(src="/icons/bluesky.png", alt="") 
                span BlueSky