nav.navigation
    section.nav-inner 
        a(href="/").nav-link Home
        span.nav-links
            a(href="/profile").nav-link Profile
            a(href="/blog").nav-link Blog 
            button.nav-btn.downloadBTN Get Resume 