nav.navigation
    section.nav-inner 
        a(href="/").nav-link Home
        span.nav-links
            a(href="#").nav-link Blog 
            a(href="#").nav-link Profile
            button.nav-btn Get Resume 