nav.navigation
    section.nav-inner 
        a(href="/").nav-link.active Home
        span.nav-links
            a(href="/blog").nav-link Blog 
            a(href="/profile").nav-link Profile
            button.nav-btn Get Resume 