div.projects.container.green
    header.header
        h3 Projects I've Built
    section.content 
        section.mediablock 
            span.category Communication
            img(src="/images/img.png", alt="").media
            section.block 
                h4 This is the name of the project 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        section.mediablock 
            span.category Streaming
            img(src="/images/img.png", alt="").media
            section.block 
                h4 This is the name of the project 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        section.mediablock 
            span.category Real Estate
            img(src="/images/img.png", alt="").media
            section.block 
                h4 This is the name of the project 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        section.mediablock 
            span.category Music & AI
            img(src="/images/img.png", alt="").media
            section.block 
                h4 This is the name of the project 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
