div.publication 
    header.header Recent Articles
    section.contents 
        article.article 
            img(src="/images/img.png", alt="").media 
            section.block 
                h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consectetur adipisicing elit, sed do...
        article.article 
            img(src="/images/img.png", alt="").media 
            section.block 
                h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consectetur adipisicing elit, sed do...
        article.article 
            img(src="/images/img.png", alt="").media 
            section.block 
                h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consectetur adipisicing elit, sed do...
        article.article 
            img(src="/images/img.png", alt="").media 
            section.block 
                h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consectetur adipisicing elit, sed do...