form(action="/blog", method="get").form
    input(type="text", name="search", placeholder="Search articles...").input 
    button(type="submit").icon
        img(src="/icons/search.svg", alt="Search") 
    section.results