.sidebar 
    aside.tabs 
        span.closeSidebarBtn X
        a(href="/").tab
            img(src="/images/img.jpg", alt="img")
            p.text Home
        a(href="/profile").tab
            img(src="/images/img.jpg", alt="img")
            p.text Profile
        a(href="/blog").tab
            img(src="/images/img.jpg", alt="img")
            p.text Blog
        button.nav-btn.downloadBTN Get Resume 
        