div.technology.container.blue 
    section.header 
        h3 Expertise & Tech Stack
    section.content 
        section.flexbox 
            header.boxhead 
                h4 MERN Stack 
            section.mediablock 
                img(src="/images/img.png", alt="alt").media 
                section.block 
                    strong.title ReactJS 
                    small.body JavaScript library building UI 
            section.mediablock 
                img(src="/images/img.png", alt="alt").media 
                section.block 
                    strong.title ReactJS 
                    small.body JavaScript library building UI 
            section.mediablock 
                img(src="/images/img.png", alt="alt").media 
                section.block 
                    strong.title ReactJS 
                    small.body JavaScript library building UI 
        section.flexbox 
            header.boxhead 
                h4 MERN Stack 
            section.mediablock 
                img(src="/images/img.png", alt="alt").media 
                section.block 
                    strong.title ReactJS 
                    small.body JavaScript library building UI 
            section.mediablock 
                img(src="/images/img.png", alt="alt").media 
                section.block 
                    strong.title ReactJS 
                    small.body JavaScript library building UI 
            section.mediablock 
                img(src="/images/img.png", alt="alt").media 
                section.block 
                    strong.title ReactJS 
                    small.body JavaScript library building UI 
        section.flexbox 
            header.boxhead 
                h4 MERN Stack 
            section.mediablock 
                img(src="/images/img.png", alt="alt").media 
                section.block 
                    strong.title ReactJS 
                    small.body JavaScript library building UI 
            section.mediablock 
                img(src="/images/img.png", alt="alt").media 
                section.block 
                    strong.title ReactJS 
                    small.body JavaScript library building UI 
            section.mediablock 
                img(src="/images/img.png", alt="alt").media 
                section.block 
                    strong.title ReactJS 
                    small.body JavaScript library building UI 
        section.flexbox 
            header.boxhead 
                h4 MERN Stack 
            section.mediablock 
                img(src="/images/img.png", alt="alt").media 
                section.block 
                    strong.title ReactJS 
                    small.body JavaScript library building UI 
            section.mediablock 
                img(src="/images/img.png", alt="alt").media 
                section.block 
                    strong.title ReactJS 
                    small.body JavaScript library building UI 
            section.mediablock 
                img(src="/images/img.png", alt="alt").media 
                section.block 
                    strong.title ReactJS 
                    small.body JavaScript library building UI 