div.technology.container.blue 
    section.header 
        h3 Expertise & Tech Stack
    section.content 
        section.flexbox 
            header.boxhead 
                h4 Tech Stacks 
            section.mediablock 
                img(src="/icons/react.svg", alt="alt").media 
                section.block 
                    strong.title MERN Stack 
                    small.body MongoDB, ExpressJS, ReactJS & NodeJS 
            section.mediablock 
                img(src="/icons/jamstack.svg", alt="alt").media 
                section.block 
                    strong.title JAM Stack 
                    small.body JavaScript, APIs, Markup  
            section.mediablock 
                img(src="/icons/php.svg", alt="alt").media 
                section.block 
                    strong.title LAMP Stack 
                    small.body Linux, Apache, MySQL & PHP + Laravel 
        section.flexbox 
            header.boxhead 
                h4 Hybrid Software 
            section.mediablock 
                img(src="/icons/electron.svg", alt="alt").media 
                section.block 
                    strong.title ElectronJS 
                    small.body Build Hybrid Desktop App with C# 
            section.mediablock 
                img(src="/icons/android.svg", alt="alt").media 
                section.block 
                    strong.title React Native 
                    small.body Build iOS & Android App with ReactJS syntax  
            section.mediablock 
                img(src="/icons/dotnet.svg", alt="alt").media 
                section.block 
                    strong.title .NET Core 2.0 
                    small.body Build Cross-platform Sofware  
        section.flexbox 
            header.boxhead 
                h4 Programing Langauges 
            section.mediablock 
                img(src="/icons/python.svg", alt="alt").media 
                section.block 
                    strong.title Python 
                    small.body Used mostly for Marchine Learning & AI 
            section.mediablock 
                img(src="/icons/java.svg", alt="alt").media 
                section.block 
                    strong.title Java 
                    small.body For Security Focused Apps Ex: Blockchain
            section.mediablock 
                img(src="/icons/typescript.svg", alt="alt").media 
                section.block 
                    strong.title TypeScript & JavaScript 
                    small.body Used mostly for versatile Web apps 
        section.flexbox 
            header.boxhead 
                h4 More Technologies 
            section.mediablock 
                img(src="/icons/github.svg", alt="alt").media 
                section.block 
                    strong.title Github 
                    small.body Version control & peer colaboration 
            section.mediablock 
                img(src="/icons/npm.svg", alt="alt").media 
                section.block 
                    strong.title Package Managers 
                    small.body I've used NPM, PIP, Grunt & Composer
            section.mediablock 
                img(src="/icons/nextjs.svg", alt="alt").media 
                section.block 
                    strong.title Frameworks
                    small.body I've used Gatsby, NextJS, DJango, Springboot, Laravel 
        a(href="https://github.com/amrealjoe").link.large.blue See More 