div.technology.container.blue 
    section.header 
        h3 Expertise & Tech Stack
    section.content 
        section.flexbox 
            header.boxhead 
                h4 Tech Stacks 
            section.mediablock 
                img(src="/icons/react.svg", alt="alt").media 
                section.block 
                    strong.title MERN Stack 
                    small.body MongoDB, ExpressJS, ReactJS & NodeJS 
            section.mediablock 
                img(src="/icons/javascript.svg", alt="alt").media 
                section.block 
                    strong.title JAM Stack 
                    small.body JavaScript, APIs, Markup  
            section.mediablock 
                img(src="/icons/php.svg", alt="alt").media 
                section.block 
                    strong.title LAMP Stack 
                    small.body Linux, Apache, MySQL & PHP + Laravel 
        section.flexbox 
            header.boxhead 
                h4 Hybrid Software 
            section.mediablock 
                img(src="/icons/react.svg", alt="alt").media 
                section.block 
                    strong.title ElectronJS 
                    small.body Build Hybrid Desktop App with C# 
            section.mediablock 
                img(src="/icons/javascript.svg", alt="alt").media 
                section.block 
                    strong.title React Native 
                    small.body Build iOS & Android App with ReactJS syntax  
            section.mediablock 
                img(src="/icons/php.svg", alt="alt").media 
                section.block 
                    strong.title .NET Core 2.0 
                    small.body Build Cross-platform Sofware  
