extends layout

block navigation 
  include components/Navigation
  include components/Introduction
  include components/Technology
  include components/Projects
  include components/Publications
  include components/Footer
  include components/Dialog