extends layout 
block scripts 
  script(src="/javascripts/slider.js", defer) 
  script(src="/javascripts/navigation.js", defer) 
block navigation 
  include includes/head
block intro 
  include includes/intro
block skills 
  include includes/skills
block project 
  include includes/projects
block contact 
  //- include includes/contact
block foot 
  include includes/foot
  
