doctype html
html
  head
    title= title
    block meta 
      meta(name="keywords", content="Timothy T. Joe, Liberian Joe, Full Stack Engineer in Liberia")
      meta(name="description", content="Full Stack Web Developer")
    block css
      link(rel='stylesheet', href='/css/imports.css')
      link(rel="shortcut icon", href="/icons/favicon.svg", type="image/x-icon")
    block scripts
      script(src="/js/jquery-3.7.0.js", defer) 
      script(src="/js/generic.js", defer) 
  body
    block navigation
    block content
    block header 
    block body
    block footer
