doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/imports.css')
    //- link(rel="shortcut icon", href="/icons/favicon.svg", type="image/x-icon")
    script(src="/scripts/generic.js") 
  body
    block navigation
    block content
    block foooter
