doctype html
html
  head
    //- The title will appear on the browser window
    title=title
    meta(name="description", content="The Description")
    link(rel='stylesheet', href='/stylesheets/index.css')
    //- for scripts inclusion
    block scripts

  body
    block navigation
    block content
    block intro
    block skills
    block project
    block contact
    block foot
    