footer.footer {
    background-color: var(--lite_blue);
    min-height: 137px;
}

footer.footer .content {
    max-width: 900px;
    margin: 0 auto;
    padding: var(--space-md);
}

footer.footer .content .header {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    flex-wrap: wrap;
    gap: var(--space-md);
}

footer.footer .content .header .name h3 {
    font-size: var(--font-xl);
}

footer.footer .content .header .name small {
    font-size: var(--font-sm);
    display: block;
}

footer.footer .content .header .social {
    display: flex;
    gap: var(--space-sm);
    min-width: calc(50px * 4);
}

footer.footer .content .header .social img {
    width: 50px;
    height: 43px;
}

footer.footer .content .flexbox {
    display: flex;
    gap: var(--space-md);
    margin: var(--space-md) 0;
}

footer.footer .content div.flexbox {
    align-items: center;
    flex-wrap: wrap;
}

footer.footer .content .updated {
    padding: 4px;
    background-color: rgb(7, 192, 143);
    display: flex;
    align-items: center;
    color: white;
    gap: 4px;
    max-height: 35px;
}

footer.footer .content .flexbox .updated .icon {
    width: 20px;
    height: 20px;
}

footer.footer .content .powered {
    gap: var(--space-xs);
    align-items:center;
    flex-wrap: wrap;
}

footer.footer .content .powered .icon {
    width: 30px;
    height: 30px;
}