:root {
    --container_width: 1050px;

    /** RADIUS **/
    --radius-xs: 4px;
    --radius-sm: 8px;
    --radius-md: 10px;
    --radius-xm: 14px;
    --radius-lg: 18px;
    --radius-xl: 22px;
    --radius-rd: 50%;

    /** SPACES **/
    --space-xs: 6px;
    --space-sm: 10px;
    --space-md: 14px;
    --space-xm: 18px;
    --space-lg: 22px;
    --space-xl: 26px;

    /** TEXT/FONT SIZES **/
    --font-xs: 8px;
    --font-sm: 12px;
    --font-md: 16px;
    --font-xm: 20px;
    --font-lg: 24px;
    --font-xl: 30px;

    /** COLORS **/
    --blue: #1c5df5;
    --lite_blue: #128cef;
    --white: #fafaea;
    --black: #040404;
    --lite_black: #121212;
    --gray: #808080;
    --lite_gray: #e3e6e6;
    --dark_gray: #262525;
    --lite_blue: #E7ECEE;
    --green: #00b350;
    --red: #ff143b;

}