div.container {
    max-width: 900px;
    margin: var(--space-xl) auto;
    overflow: auto;
}

div.container.blue {
    background-color: #128bef20;
    border: 1px solid #128befb0;
}
div.container.blue .header {
    background-color: #128bef97;
}
div.container.green {
    background-color: #04a25345;
    border: 1px solid #01ae4fb0;
    min-height: 250px;
}
div.container.green .header {
    background-color: #00b35197;
}


div.container .header {
    padding: var(--space-sm);
}

div.container .header h3 {
    color: var(--dark_blue);
}

div.container .content {
    margin: var(--space-xl);
}

a.link-btn {
    padding: var(--space-sm);
}