.intro {
    padding-top: 17px;
    display: flex;
    gap: var(--space-lg);
}

.intro .figure {
    min-width: 250px;
    width: 250px;
    min-height: 250px;
    height: 250px;
    border-radius: var(--radius-rd);
    margin-right: var(--space-lg);
    overflow: hidden;
    background-image: linear-gradient(to top, #fbfbfb, #b0b0b0);
}

.intro .autobio {
    text-align: justify;
    font-size: 17px;
}