.skills {
    background-color: var(--white);
    min-height: 350px;
    padding: var(--space-lg);
}

.skills .media-item::after {
    content: attr(data-title);
    position: absolute;
    right: -80%;
    min-width: 175px;
    padding: var(--space-sm);
    background-color: rgba(0, 0, 0, 0.809);
    color: var(--lite_gray);
    border-radius: var(--radius-sm);
    font-size: 13px;
    will-change: opacity;
    transition: opacity .3s ease-in .1s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .098);
    z-index: 10;
}

.skills .media-item:hover::after {
    transition: opacity .3s ease-out;
    opacity: 1;
    visibility: visible;
}

.skills .media-item:hover {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .098);
    border-color: #e6e6e6;
}