.textblock {
    margin: var(--space-sm) 0;
    border: solid red;
    overflow: hidden;
}

.textbox .body {
    margin-bottom: var(--space-sm);
}

/* .textblock .picture {} */

.picture.left {
    margin-right: var(--space-md);
    float: left;
}

.heading {
    font-weight: bolder;
}

.heading--lg {
    font-size: var(--font-lg);
}

.body {
    color: var(--dark_gray);
}

.body--lg {
    font-size: var(--font-lg);
}

.notice {
    display: inline-block;
    padding: var(--space-md);
    border-radius: var(--radius-md);
    background-color: var(--white);
    margin: 0 var(--space-md);
    border: 1px solid var(--dark_gray);
}

.textblock .list,
.textbox .list {
    list-style: circle;
    list-style-position: inside;
}