.introduction {
    max-width: 900px;
    margin: 0 auto;
    margin-top: var(--space-md);
}

.introduction .figure {
    float: left;
    width: 295px;
    height: 393px;
    margin-right: var(--space-md);
}

.introduction .textbox p {
    font-size: var(--font-xm);
    text-align: justify;
}

.introduction .btn-group .link-btn img {
    width: 25px;
    height: 25px;
    margin-right: 3px;
}

/** SMALL DEVICE **/
@media only screen and (min-width: 360px) and (max-width: 768px) {
    .introduction .figure {
        width: calc(295px - 150px);
        clear: left;
    }

    .introduction .textbox p {
        font-size: var(--font-sm);
    }
}

@media only screen and (min-width: 769px) {}