.introduction {
    max-width: 900px;
    margin: 0 auto;
    margin-top: var(--space-md);
}

.introduction .figure {
    float: left;
    width: 295px;
    height: 393px;
    margin-right: var(--space-md);
}

.introduction .textbox p {
    font-size: var(--font-xm);
    text-align: justify;
}

.introduction .btn-group {
    display: flex;
    align-items: center;
    margin-top: var(--space-md);
    gap: var(--space-md)
}

.introduction .btn-group .link-btn {
    padding: 4px;
    display: flex;
    align-items: center;
    color: var(--black);
    font-weight: bold;
    background-color: var(--lite_blue);
    border-radius: 2px;
}

.introduction .btn-group .link-btn:hover {
    color: var(--blue);
}

.introduction .btn-group .link-btn img {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    margin-right: 3px;
}