div.technology>.content {
    display: flex;
    flex-wrap: wrap;
    align-items: start baseline;
    gap: 4px;
}

div.technology .flexbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff;
}

div.technology .flexbox .boxhead {
    padding: var(--space-sm);
    text-align: center;
    border: 1px solid #bdbcbc;
    background-color: #f8f8f8;
}

div.technology .flexbox>*+* {
    border: 1px solid #bdbcbc;
    border-top: unset;
}

div.technology .mediablock {
    display: flex;
    font-size: var(--font-sm);
    width: 207px;
    height: 55px;
}

div.technology .mediablock .media {
    width: 55px;
    background-color: #f7f7f7;
    padding: var(--space-xs);
}

div.technology .mediablock .block {
    display: flex;
    flex-direction: column;
    padding: var(--space-xs);
}

div.technology .mediablock .block .body {
    line-height: normal;
}