.blog.container 
    header.flexbox.header
        h4 Blog Articles 
        form(action="/", method="post").form
            img(src="/icons/search.svg", alt="alt").icon 
            input(type="text", name="search").input 