.blog.container 
    header.flexbox.header
        h2 Blog Articles 
        include ./Searcher 
    div.contents 
        section.mediablock 
            img(src="/images/img.png", alt="alt").media 
            span.block 
                h3.title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                p.body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                span.footer 
                    small.category Marchine Learning &#8226; 7:01 AM 6/7/2023 
        section.mediablock 
            img(src="/images/img.png", alt="alt").media 
            span.block 
                h3.title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                p.body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                span.footer 
                    small.category Marchine Learning &#8226; 7:01 AM 6/7/2023 
        section.mediablock 
            img(src="/images/img.png", alt="alt").media 
            span.block 
                h3.title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                p.body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                span.footer 
                    small.category Marchine Learning &#8226; 7:01 AM 6/7/2023 
        section.mediablock 
            img(src="/images/img.png", alt="alt").media 
            span.block 
                h3.title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                p.body Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                span.footer 
                    small.category Marchine Learning &#8226; 7:01 AM 6/7/2023 
        span.loader 
            p Load More 