extends ../layout 
block meta
    meta(name="description", content="Embracing the trends. Learning the Art. Using the techs.")
block header 
    include ../components/Navigation
block body 
    include ./Blog 
block footer 
    include ../components/Footer 